html, body {
	padding: 0;
	margin: 0;
}

/*Header styling*/

.header {
	background:#006680 no-repeat center;
	border-top: 4px solid black;
	border-bottom: 4px solid black;
	text-align: center;
}

.header h1 {
	color: black;
}

/*Header styling-END*/

/*Menu bar styling*/
.menubar {
	height: 50px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

ul.menubar-list{
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #006680;
  }

  li {
      float: left;
  }

  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  li a:hover {
      background-color: #111;
  }
/*Menu bar styling-END*/

/*Carousel styling*/
/* jssor slider bullet navigator skin 05 css */
/*
.jssorb05 div           (normal)
.jssorb05 div:hover     (normal mouseover)
.jssorb05 .av           (active)
.jssorb05 .av:hover     (active mouseover)
.jssorb05 .dn           (mousedown)
*/
.jssorb05 {
		position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
		position: absolute;
		/* size of bullet elment */
		width: 16px;
		height: 16px;
		background: url('../images/carousel/b05.png') no-repeat;
		overflow: hidden;
		cursor: pointer;
}
.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

/* jssor slider arrow navigator skin 12 css */
/*
.jssora12l                  (normal)
.jssora12r                  (normal)
.jssora12l:hover            (normal mouseover)
.jssora12r:hover            (normal mouseover)
.jssora12l.jssora12ldn      (mousedown)
.jssora12r.jssora12rdn      (mousedown)
*/
.jssora12l, .jssora12r {
		display: block;
		position: absolute;
		/* size of arrow element */
		width: 30px;
		height: 46px;
		cursor: pointer;
		background: url('../images/carousel/a12.png') no-repeat;
		overflow: hidden;
}
.jssora12l { background-position: -16px -37px; }
.jssora12r { background-position: -75px -37px; }
.jssora12l:hover { background-position: -136px -37px; }
.jssora12r:hover { background-position: -195px -37px; }
.jssora12l.jssora12ldn { background-position: -256px -37px; }
.jssora12r.jssora12rdn { background-position: -315px -37px; }
/*Carousel styling-END*/

/*Info styling*/
.info {
	background-color: #ccc;
	width:100%;
	height: 200px;
	position:relative;
	padding: 0px 60px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.info img {
	float: left;
	width:60%;
	border: 2px #000 solid;
	padding-left: 0px;
	border-radius:20%;
}

.profileImage {
	width: 200px;
	float:left;
	margin-bottom:20px;
	border-radius: 180px;
}

.profileHeader {
	margin:auto;
	text-align:center;
}

/*Info styling-END*/


/*FAQ Styling*/

#firstAnswer {
	display: none;
}

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

/*FAQ Styling-END*/

/*Footer styling */
.location-map {
	text-align: center;
	height: 100%;
	width: 500px;
	float:left;
}

.footer {
	vertical-align: center;
	height: 300px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	background-color: #006680;
}

.contact-details {
	float: left;
	padding: 30px 0;
	margin: 20px 0;
	font-size: 20px;
}



/*Footer styling-END */

/*Image gallery styling*/
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.2); }

.thumbnail {
	transition: all .3s ease-in-out;
	}
.thumbnail:hover {
	transform: scale(1.8);
}

/*Image gallery styling-END*/

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}
